body {
    margin: 0;
}

span {
    margin: 10px;
    font-size: 15px;
}

.menu {
    position: fixed;
    z-index: 1;
}

.menu p {
    margin: 0;
}

.context-menu {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    border-bottom: 1px solid var(--crust);
    height: 40px;
    padding: 5px;
}

.header h1 {
    margin: auto auto auto 10px;
    font-size: 25px;
}

.footer {
    margin-top: auto;
    display: flex;
    border-top: 1px solid var(--crust);
    height: 40px;
    padding: 5px;
}

.footer p {
    margin: auto 0;
}

.footer #connection-status-dot {
    width: 12.5px;
    height: 12.5px;
    border-radius: 100%;
    margin: auto 17.5px;
}

.footer #status {
    margin-left: auto;
    margin-right: 10px;
}

.yellow {
    background-color: var(--yellow);
}

.green {
    background-color: var(--green);
}

.red {
    background-color: var(--red);
}

#spaces, #rooms {
    border-right: 1px solid var(--crust);
}

#spaces {
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 48px;
    flex-shrink: 0;
}

#spaces img, #spaces .svg-button {
    border-radius: 100%;
    transition: ease 0.2s;
    height: 28px;
    width: 28px;
}

#spaces img {
    margin-bottom: 10px;
    height: 48px;
    width: 48px;
}

#spaces img:hover, #spaces .svg-button:hover {
    border-radius: 10px;
}

.hover {
    border-radius: 10px;
}

#rooms {
    width: max(25vw, 150px);
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-shrink: 0;
}

#rooms button {
    border: 1px solid var(--crust);
    margin: 5px 10px;
}

#rooms span {
    margin-top: 5px;
}

.messages, #messages {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.messages {
    position: relative;
}

#messages {
    overflow-y: auto;
    padding-bottom: 48px;
}

.message {
    display: flex;
    padding: 10px;
}

.message p {
    margin: 0 5px 5px 0;
}

.message img {
    margin-right: 10px;
}

.message img {
    margin-right: 10px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.message-header {
    display: flex;
}

.message-header {
    font-size: small;
}

.input {
    margin-top: auto;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
}

.input input {
    width: 100%;
    margin: 5px 0 5px 5px;
}

.input .svg-button {
    margin: 5px;
    height: 24px;
    width: 24px;
}

.vertical-split {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
}

.horizontal-split {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
}

#messages, #rooms, #spaces, #rooms button, .header, .footer {
    background-color: var(--base);
}

.header .svg-button {
    width: 20px;
    height: 20px;
}

:where(.svg-button) {
    display: flex;
    flex-shrink: 0;
}

:where(.header #back) {
    margin-right: auto;
    display: none;
}

.svg-button-image {
    pointer-events: none;
}

@media only screen and (max-width: 500px) {
    #rooms {
        width: calc(100% - 70px);
    }

    #status {
        display: none;
    }
    
    .horizontal-split {
        position: relative;
    }
    
    .messages {
        position: absolute;
    }
    
    :where(.header #back) {
        display: flex;
    }
}