@import "common.css";

.bubble-container::before  {
    content: "";
    background-color: var(--overlay0);
    filter: opacity(50%);
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bubble-main {
    background-color: var(--base);
    border-radius: 10px;
    padding: 10px 20px;
    min-width: 200px;
}

.bubble-message {
    color: var(--text);
    font-family: "Arial", sans-serif;
}

.bubble-button {
    background-color: var(--surface0);
    color: var(--text);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    transition: ease 0.2s;
}

.bubble-button:hover {
    background-color: var(--surface1);
}

.bubble-input {
    border: 1px solid #a8a8a8;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

@media (prefers-color-scheme: dark) {
    .bubble-main {
        background-color: #1a1a1a;
    }

    .bubble-message {
        color: #ffffff;
    }

    .bubble-button {
        background-color: #2a2a2a;
        color: #ffffff;
    }

    .bubble-button:hover {
        background-color: #3a3a3a;
    }

    .bubble-input {
        border: 1px solid #2a2a2a;
        background-color: #1a1a1a;
    }
}